<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LTech - Cart</title>
    <th:block th:insert="~{/views/user/fragments/css-lib}"></th:block>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
<!-- Navbar -->
<div th:replace="~{/views/user/fragments/header :: header}">Header</div>

<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container" style="padding: 26px 0px 0px;">
            <div class="content">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div class="product" ng-repeat="item in cart.items">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image">
                                            <img class="img-fluid d-block mx-auto image" th:src="@{/assets/img/tech/{{item.image}}}"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name text-decoration-none"
                                                                          href="#">{{item.name}}</a>
                                        <div class="product-specs">
                                            <div><span>Name:&nbsp;</span><span class="value">{{item.name}}</span></div>
                                            <div><span>Quantity:&nbsp;</span><span class="value">{{item.price | number : 2}}</span>
                                            </div>
                                            <div><span class="value"><a ng-click="cart.remove(item.id)" href=""
                                                                        class="btn-group-sm btn-danger text-decoration-none">Xóa</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block">Số
                                        lượng</label>
                                        <input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number"
                                               min="1"/>
                                    </div>
                                    <div class="col-6 col-md-2 price"><span>${{item.qty * item.price | number : 0}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Tổng thanh toán</h3>
                            <h4><span class="text">Tổng tiền</span><span class="price">${{item.qty * item.price | number : 2}}</span></h4>
                            <h4><span class="text">Giảm giá</span><span class="price">$0</span></h4>
                            <h4><span class="text">Phí ship</span><span class="price">$0</span></h4>
                            <h4><span class="text">Total</span><span class="price">${{item.qty * item.price | number : 2}}</span></h4>
                            <a th:href="@{/order/checkout}" class="btn btn-primary btn-lg d-block w-100" type="button">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Footer-->
<div th:replace="~{/views/user/fragments/footer :: footer}">Slide</div>
<th:block th:insert="~{/views/user/fragments/js-lib}"></th:block>
</body>
</html>