<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <footer class="page-footer dark" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>LTech</h5>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Sản Phẩm</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Tin tức</h5>
                    <ul>
                        <li><a href="#">Tin tuyển dụng</a></li>
                        <li><a href="#">Tin khuyến mãi</a></li>
                        <li><a href="#">Hướng dẫn mua online</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Hỗ Trợ</h5>
                    <ul>
                        <li><a href="#">Tư vấn</a></li>
                        <li><a href="#">Hướng dẫn mua online<br></a></li>
                        <li><a href="#">Đổi trả</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Thông tin liên hệ</h5>
                    <ul>
                        <li><a href="#">Điện thoại: 1800 6601</a></li>
                        <li><a href="#">Địa chỉ:&nbsp;261 - 263 Tôn Đức Thắng, Liên Chiểu, Đà Nẵng<br></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 LTech / GPĐKKD số 0311609355 do Sở KHĐT TP.ĐN cấp ngày 08/03/2012. GP số 47/GP-TTĐT do sở TTTT TP
                ĐN cấp ngày 01/08/2022. Điện thoại: (028)2223335. Email: ltech-dn@gmail.com. Chịu trách nhiệm nội dung:
                Đỗ Trần Hoàng Long.<br><br></p>
        </div>
    </footer>
</body>
</html>