<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{/views/user/fragments/css-lib}"></th:block>
</head>
<body>
    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">

                <!-- Content -->
                <div class="content">
                    <div class="row">
                        <!-- Products -->
                        <div class="col-md-9" th:fragment="products">
                            <div class="products">

                                <div class="row g-0">
                                    <th:block th:each="p: ${items}">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a th:href="@{|/product/detail/${p.id}|}">
                                                <img class="img-fluid d-block mx-auto"
                                                     th:src="@{|/assets/img/tech/${p.image}|}">
                                            </a></div>
                                            <div class="product-name"><a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}">&nbsp;</a></div>
                                            <div class="about">
                                                <div class="rating">
                                                    <img th:src="@{/assets/img/star.svg}">
                                                    <img th:src="@{/assets/img/star.svg}">
                                                    <img th:src="@{/assets/img/star.svg}">
                                                    <img th:src="@{/assets/img/star-half-empty.svg}">
                                                    <img th:src="@{/assets/img/star-empty.svg}">
                                                </div>
                                                <div class="price">
                                                    <h3 th:text="${p.price}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </th:block>
                                </div>

                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span
                                                aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link">1</a></li>
                                        <li class="page-item"><a class="page-link">2</a></li>
                                        <li class="page-item"><a class="page-link">3</a></li>
                                        <li class="page-item"><a class="page-link" aria-label="Next"><span
                                                aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>